@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.App {
  font-family: "Lato", sans-serif;
  max-width: 560px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 20px 0px 20px 35px;
  border: 1px solid #5a6168;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://images.pexels.com/photos/2086748/pexels-photo-2086748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=550");
}
.App small {
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 120px;
  margin-bottom: 10px;
}
